body {
  background-color: #222;
}

.check {
  transition: all 0.5s ease !important;
}

.check:hover {
  background: #c5c5c5 !important;
  box-shadow: 0 7px 7px rgba(0, 0, 0, 0.4);
}

.todo-card {
  transition: all 0.5s ease !important;
}
.todo-card:hover {
  padding-top: 10px;
  padding-bottom: 10px;
  box-shadow: 0 7px 7px rgba(0, 0, 0, 0.4);
}

/* fonts */
/* ...existing code... */

/* fonts */
@font-face {
  font-family: "Roboto";
  src: url("/public/fonts/Roboto-Black.ttf");
  font-weight: 100;
}
@font-face {
  font-family: "Roboto";
  src: url("/public/fonts/Roboto-Bold.ttf");
  font-weight: 700;
}
@font-face {
  font-family: "Roboto";
  src: url("/public/fonts/Roboto-Regular.ttf");
  font-weight: 400;
}
@font-face {
  font-family: "Roboto";
  src: url("/public/fonts/Roboto-Light.ttf");
  font-weight: 300;
}
@font-face {
  font-family: "Roboto";
  src: url("/public/fonts/Roboto-Medium.ttf");
  font-weight: 500;
}
@font-face {
  font-family: "Roboto";
  src: url("/public/fonts/Roboto-Thin.ttf");
  font-weight: 200;
}
@font-face {
  font-family: "Roboto";
  src: url("/public/fonts/Roboto-Italic.ttf");
  font-style: italic;
  font-weight: 400;
}

/* ...existing code... */

/* fonts */
